*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    background-color: white;
}

.head{
    background-color: #262626;
    height: 3em;
    width: 100%;
}

.head img{
    width: 20em;    
    float: left;
    margin-left: 1em;
}

.head #headpar{
    background-color: #82b53f;
    color: white;
    float: right;
    padding: 10px;
    margin-top: 5px;
    margin-right: 20px;
    border-radius: 4em;
    letter-spacing: 2px;
    cursor: pointer;
}

.head #headpar:hover{
    opacity: .7;
}

.image{
    height: 25em;
    width: 100%;
    background-image: url(cer1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: image 70s infinite;
}

@keyframes image{

    0%{
        background-image: url(cer1.jpg);
    }

    25%{
        background-image: url(cer3.jpg);
    }

    50%{
        background-image: url(cer5.jpg);
    }

    75%{
        background-image: url(cer3.jpg);
    }

    100%{
        background-image: url(cer1.jpg);
    }
}

.menu-bar{
    height: 3em;
    width: 100%;
    background-color: #262626;
    position: sticky;
    top: 0px;
}

.menu-bar #menuh3{
    color: white;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    line-height: 1.6em;
    margin-left: 1em;
    float: left;
    cursor: not-allowed;
}

.menu-bar #menuh3 span{
    color: #ff4500;
}

.menu-bar ul{
    float: right;
    margin-right: 1em;
    list-style: none;
}

.menu-bar ul li{
    display: inline-block;
    line-height: 2.9em;
    margin-left: 1em;
}

.menu-bar ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu-bar ul li a i{
    color: rgb(172, 169, 169);
}

.menu-bar ul li a:hover{
    color: gray;
}

.menu-bar ul li a i:hover{
    color:rgb(172, 169, 169);
}

.menu-bar #check{
    float: right;
    display: none;
}

.menu-bar label #open,
.menu-bar label #close{
    float: right;
    color: white;
    font-size: 2em;
    line-height: 1.5em;
    margin-right: 1em;
    cursor: pointer;
    display: none;
}

.conference{
    height: 35em;
    width: 100%;
    
}

.conference #confpar{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    font-size: 1.8em;
}

hr{
    margin-top: 30px;
    width: 30%;
    border-radius: 50px;
}

.conference .content{
   background-color: white;
    height: 19em;
    width: 33%;
    float: left;
}

.conference .content #conth3{
    margin-top: 2em;
    letter-spacing: 2px;
    font-size: 1.5em;
    margin-left: 2em;
}

.conference .content #conth3 i{
    color: orangered;
}

.conference .content #conth4{
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.7em;
    font-size: 1.5em;
    margin-top: 1em;
    color: rgb(70, 69, 69);
}

.about{
    height:55em;
    width: 100%;
    background-color: #f5f3f3;
}

.about #aboutpar{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    font-size: 1.8em;
}

.about #aboutpar i{
    color: #0ae62f;
}

.about center hr{
    width: 17%;
}

.about #abouth3{
    margin-left: 2em;
    font-size: 1.8em;
    letter-spacing: 2px;
}

.about #abouth3 i{
    color:orangered;
}

.about #abouth4{
    margin-left: 2.8em;
    margin-top: 1em;
    letter-spacing: 2px;
    font-size: 1.5em;
    color: rgb(39, 39, 39);
}

.about #abouth4 i{
    color:rgb(95, 95, 95);
}

.about #aboutparr{
    text-align: justify;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.5em;
    margin-top: 1em;
    line-height: 1.5em;
}

.time{
    height: 13em;
    width: 100%;
    background-image: url(time.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.time #timeh2{
    color: white;
    text-align: center;
    line-height: 3em;
    letter-spacing: 2px;
}

.time #timepar{
    color: white;
    text-align: center;
    margin-top: 2em;
    letter-spacing: 2px;
    font-size: 1.8em;
}

.option{
    background-color: white;
    height: 50em;
    width: 100%;
}

.option #optionpar{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    font-size: 1.8em;
}

.option #optionpar i{
    color: orange;
}

.option #check_det,
.option #check_payment,
.option #check_submit{
    display: none;
}

.option label #check_detpar,
.option label #check_paypar,
.option label #check_subpar{
    background-color: orangered;
    width: 15%;
    padding: 7px;
    float: left;
    border-top-right-radius: 20px;
    margin-left: 0.5em;
    box-shadow: 2px 2px 2px 2px rgb(206, 206, 206);
    cursor: pointer;
    color:white;
    letter-spacing: 2px;
}

.option label #check_detpar i,
.option label #check_paypar i,
.option label #check_subpar i
{
    color: rgb(41, 41, 41);
}

.option label #check_detpar:hover,
.option label #check_paypar:hover,
.option label #check_subpar:hover{
    transition: 1s;
    transform: scale(0.9);
}

.option .optleft{
    float: left;
    width: 20%;
    height: 72%;
    background-image: url(leftictacc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 1em;
    margin-top: 10px;
}

.option .optright{
    float: right;
    width: 20%;
    height: 72%;
    background-image: url(rightictacc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1em;
    margin-top: 10px;
}

.option .conference_details,
.option .conferrence_payment,
.option .conference_submit{
    width: 55%;
    height: 72%;
    background-color:white;
    border-radius: 40px;
    box-shadow: 2px 2px 2px 2px rgb(117, 117, 117);
    float: left;
    margin-top: 1em;
    margin-left: 1em;
    display: none;
}

.option .conference_details #confdetpar,
.option .conferrence_payment #confpaypar,
.option .conference_submit #confsubpar{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
}

/* details*/

.option #check_det:checked ~ .conference_details{
    display: block;
}

.option #check_det:checked ~ .conferrence_payment{
    display: none;
}

.option #check_det:checked ~ .conference_submit{
    display: none;
}

/* Payment */

.option #check_payment:checked ~ .conferrence_payment{
    display: block;
}

.option #check_payment:checked ~ .conference_details{
    display: none;
}

.option #check_payment:checked ~ .conference_submit{
    display: none;
}

/* submit */

.option #check_submit:checked ~ .conference_submit{
    display: block;
}

.option #check_submit:checked ~ .conference_details{
    display: none;
}

.option #check_submit:checked ~ .conferrence_payment{
    display: none;
}

/*....div work...*/


.option .conference_details #confdeth3{
    color: blue;
    margin-left: 3em;
    margin-top: 1em;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 1.3em;
    transition: 3s;
    cursor: pointer;
}

.option .conference_details #confdeth3 i{
    color: rgb(24, 24, 24);
}

.option .conference_details #confdeth3:hover{
    transform: scale(0.9);
}

.option .conference_details #confdeth4{
   margin-left: 5em;
   margin-top: 1em;
   letter-spacing: 2px;
   font-size: 1.1em;
   color: rgb(66, 66, 66);
}

.option .conference_details #confdeth4 i{
    animation: confi 3s infinite;
}

@keyframes confi{
    0%{
        color: red;
    }
    50%{
        color: greenyellow;
    }
    100%{
        color: green;
    }
}

/* payemnt design*/

.option .conferrence_payment #confpayh3{
    color: blue;
    margin-left: 3em;
    margin-top: 1em;
    letter-spacing: 2px;
    text-decoration: underline;
    font-size: 1.3em;
    transition: 3s;
    cursor: pointer;
}

.option .conferrence_payment #confpayh3 i{
    color: rgb(24, 24, 24);
}

.option .conferrence_payment #confpayh3:hover{
    transform: scale(0.9);
}

.option .conferrence_payment #confpayh4{
    margin-left: 5em;
    margin-top: 1em;
    letter-spacing: 2px;
    font-size: 1.1em;
    color: rgb(66, 66, 66);
 }
 
 .option .conferrence_payment #confpayh4 i{
     animation: confi 3s infinite;
 }

 .option .conferrence_payment #confpayyh4{
    margin-left: 7em;
    margin-top: 1em;
    letter-spacing: 2px;
    font-size: 1.1em;
    color: rgb(63, 14, 238);
    cursor: pointer;
 }

 .option .conferrence_payment #confpayyh4 i{
     color: red;
 }
 
 @keyframes confi{
     0%{
         color: red;
     }
     50%{
         color:yellowgreen;
     }
     100%{
         color: green;
     }
 }

 /*...speaker...*/

 .speaker{
     height: 38em;
     width: 100%;
     background-image: url(confer.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }

 .speaker #speah3{
    color: white;
    text-align: center;
    margin-top: 2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.2em;
 }

 .speaker #speah3 i{
     color: orangered;
 }

 .speaker #speaimg{
     border-radius: 190px;
     height: 8em;
     width: 10%;
     margin-top: 1em;
     transition: 5s;
     cursor: pointer;
 }

 .speaker #speaimg:hover{
     transform: scale(1.2);
 }

 .speaker #speah4{
     text-align: center;
     font-size: 1.2em;
     color: orangered;
     margin-top: 1em;
     letter-spacing: 2px;
 }

 .speaker #speapar{
     color: white;
     width: 80%;
     text-align: justify;
     line-height: 2em;
     font-size: 1.2em;
     margin-top: 2em;
     text-shadow: rgb(54, 54, 54);
 }

 /*...contact...*/

 .contact{
     height: 37em;
     width: 100%;
     background: white;
 }

 .contact #contactpar{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 0.1em;
    font-size: 1.5em;
}

.contact #contactpar i{
    color: green;
}

.contact .contleft{
    background: white;
    width: 45%;
    height: 85%;
    float: left;
}

.contact #contlefth4{
    margin-top: 2em;
    margin-left: 3em;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact #contleftpar{
    margin-left: 5em;
    color: rgb(41, 41, 41);
    letter-spacing: 1px;
    margin-top: 1em;
    font-size: 1.2em;
}

.contact #contlefth5{
    margin-left: 5em;
    margin-top: 1em;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.contact #contlefth5 i{
    color: orangered;
}

.contact pre{
    line-height: 2em;
    margin-left: 4em;
}

.contact .contright{
    background: white;
    height: 85%;
    width: 50%;
    float: left;
}

.contact .contright #contrighth4{
    color:black;
    font-size: 1.4em;
    margin-top: 1em;
    letter-spacing: 2px;
    margin-left: 1em;
}

.contact .contright form label{
    color: black;
    margin-left: 2em;
    margin-top: 2em;
    letter-spacing: 2px;
    font-weight: 500;
}

.contact .contright form #uname,#lname,#uemail{
    padding: 5px;
    width: 40%;
    outline: none;
    border: none;
    border: 1px solid rgb(201, 201, 201);
    background: whitesmoke;
    margin-left: 3em;
    border-radius: 5px;
}

.contact .contright form #uname:hover,
.contact .contright form #lname:hover,
.contact .contright form #uemail:hover,
.contact .contright form #umes:hover{
    box-shadow: 1px 1px 1px 1px rgb(71, 71, 71);
}

.contact .contright form #umes{
    width: 85%;
    height: 9em;
    resize: none;
    margin-left: 3em;
    padding: 5px;
    outline: none;
    border: none;
    border: 1px solid rgb(201, 201, 201);
    background: whitesmoke;
    margin-left: 3em;
    border-radius: 5px;
}

.contact .contright form #sbn{
    background: green;
    padding: 7px;
    color: white;
    width: 20%;
    border: none;
    outline: none;
    letter-spacing: 2px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 20px;
    float: right;
    margin-right: 3em;
    text-transform: uppercase;
}

.contact .contright form #sbn:hover{
    opacity: .7;
}

.info{
    height: 20em;
    width: 100%;
    background-color: #262626;
}

.info #infopar{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.info .infocoord{
    height: 66%;
    margin-left: 1em;
    margin-right: 1em;
    background-color: transparent;
    width: 30%;
    float: left;
}

.info .infocoord #infocopar{
    color:orangered;
    text-align: center;
    margin-top: 1em;
    letter-spacing: 2px;
}

.info .infocoord #infocopar i{
    color: white;
}

.info .infocoord #infocorpar{
    color: white;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 1em;
}

.footer{
    background-color: #262626;
    height: 2em;
    width: 100%;
    border-top: 2px solid black;
}

.footer #footpar{
    color: white;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 1em;
}

.footer #footpar span{
    color: orangered;
}
/*phone view*/

@media (min-width:220px) and (max-width:390px){
   
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Times New Roman', Times, serif;
    }

    html{
        scroll-behavior: smooth;
    }

    body{
        height: 100%;
        width: 100%;
        background-color: white;
    }

    .head{
        height: 3em;
        width: 100%;
        background-color: #262626;
    }

    .head img{
        float:left;
        width: 11em;
        margin-left: 0px;
        margin-top: 0.6em;
    }

    .head #headpar{
        font-size: 1em;
        padding: 5px;
        margin-right: 0px;
        border-radius: 2em;
        margin-top: 0.7em;
    }

    .menu-bar #menuh3{
        font-size: 1.5em;
        margin-left: 1em;
        line-height: 2em;
    }

    .menu-bar ul{
        background-color: #262626;
        width: 100%;
        float: none;
        display: none;
    }

    .menu-bar label #open{
        display: block;
    }

    .menu-bar #check:checked ~ ul{
        display: block;
    }

    .menu-bar #check:checked ~label #open{
        display: none;
    }

    .menu-bar #check:checked ~label #close{
        display: block;
    }

    .conference{
        height: 40em;
        background-color: rgb(251, 253, 251);
    }

    .conference #confpar{
        font-size: 1.5em;
        letter-spacing: 1px;
        line-height: 1.5em;
    }

    hr{
        width: 50%;
    }

    .conference .content{
        width: 100%;
    }

    .conference .content #conth3{
        font-size: 1em;
    }

    .conference .content #conth4{
        font-size: 1.2em;
    }

    .about{
        height: 121em;
        width: 100%;
        background-color:#f5f3f3;
    }

    .about #aboutpar{
        line-height: 3em;
        font-size: 1.5em;
    }

    .about center hr{
        width: 30%;
        margin-top: 0.5em;
    }

    .about #abouth3{
        font-size: 1.3em;
        margin-top: 1em;
    }

    .about #abouth4{
        font-size: 1.1em;
    }

    .about #aboutparr{
        font-size: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .time{
        height: 13em;
        width: 100%;
        margin-top: 0em;
        background-image: url(time.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .time #timepar{
        font-size: 1.2em;
        line-height: 2em;
        margin-top: 1em;
    }

    .option{
        background-color: white;
        height: 60em;
        width: 100%;
    }
    
    .option #optionpar{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 40px;
        font-size: 1.2em;
    }
    
    .option #optionpar i{
        color: orange;
    }
    
    .option #check_det,
    .option #check_payment,
    .option #check_submit{
        display: none;
    }
    
    .option label #check_detpar,
    .option label #check_paypar,
    .option label #check_subpar{
        background-color: orangered;
        width: 65%;
        padding: 7px;
        /*float: left;*/
        border-top-right-radius: 20px;
        margin-left: 0.5em;
        box-shadow: 2px 2px 2px 2px rgb(206, 206, 206);
        cursor: pointer;
        margin-top: 1em;
        letter-spacing: 0px;
    }
    
    .option label #check_detpar i,
    .option label #check_paypar i,
    .option label #check_subpar i
    {
        color: rgb(41, 41, 41);
    }
    
    .option label #check_detpar:hover,
    .option label #check_paypar:hover,
    .option label #check_subpar:hover{
        transition: 1s;
        transform: scale(0.9);
    }
    
    .option .optleft{
        float: left;
        width: 0%;
        height: 0%;
        background-image: url(leftictacc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-left: 0em;
        margin-top: 10px;
        visibility: hidden;
        opacity: 0;
    }
    
    .option .optright{
        float: right;
        width: 0%;
        height: 0%;
        background-image: url(rightictacc.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 1em;
        margin-top: 10px;
        visibility: hidden;
        opacity: 0;
    }
    
    .option .conference_details,
    .option .conferrence_payment,
    .option .conference_submit{
        width: 90%;
        height: 72%;
        background-color:white;
        border-radius: 40px;
        box-shadow: 2px 2px 2px 2px rgb(117, 117, 117);
        float: left;
        margin-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        display: none;
    }
    
    .option .conference_details #confdetpar,
    .option .conferrence_payment #confpaypar,
    .option .conference_submit #confsubpar{
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1em;
    }
    
    /* details*/
    
    .option #check_det:checked ~ .conference_details{
        display: block;
    }
    
    .option #check_det:checked ~ .conferrence_payment{
        display: none;
    }
    
    .option #check_det:checked ~ .conference_submit{
        display: none;
    }
    
    /* Payment */
    
    .option #check_payment:checked ~ .conferrence_payment{
        display: block;
    }
    
    .option #check_payment:checked ~ .conference_details{
        display: none;
    }
    
    .option #check_payment:checked ~ .conference_submit{
        display: none;
    }
    
    /* submit */
    
    .option #check_submit:checked ~ .conference_submit{
        display: block;
    }
    
    .option #check_submit:checked ~ .conference_details{
        display: none;
    }
    
    .option #check_submit:checked ~ .conferrence_payment{
        display: none;
    }

    .option .conference_details #confdeth3{
        color: blue;
        margin-left: 1em;
        margin-top: 1em;
        letter-spacing: 2px;
        text-decoration: underline;
        font-size: 1.2em;
        transition: 3s;
        cursor: pointer;
    }
    
    .option .conference_details #confdeth3 i{
        color: rgb(24, 24, 24);
    }
    
    .option .conference_details #confdeth3:hover{
        transform: scale(0.9);
    }
    
    .option .conference_details #confdeth4{
       margin-left: 2em;
       margin-top: 1em;
       letter-spacing: 2px;
       font-size: 1em;
       color: rgb(66, 66, 66);
       line-height: 2em;
    }
    
    .option .conference_details #confdeth4 i{
        animation: confi 3s infinite;
    }
    
    @keyframes confi{
        0%{
            color: red;
        }
        50%{
            color: greenyellow;
        }
        100%{
            color: green;
        }
    }

    .option .conferrence_payment #confpayh3{
        color: blue;
        margin-left: 1em;
        margin-top: 1em;
        letter-spacing: 2px;
        text-decoration: underline;
        font-size: 1.1em;
        transition: 3s;
        cursor: pointer;
    }
    
    .option .conferrence_payment #confpayh3 i{
        color: rgb(24, 24, 24);
    }
    
    .option .conferrence_payment #confpayh3:hover{
        transform: scale(0.9);
    }
    
    .option .conferrence_payment #confpayh4{
        margin-left: 1.3em;
        margin-top: 1em;
        letter-spacing: 0px;
        font-size: 0.9em;
        color: rgb(66, 66, 66);
        line-height: 2em;
     }
     
     .option .conferrence_payment #confpayh4 i{
         animation: confi 3s infinite;
     }
    
     .option .conferrence_payment #confpayyh4{
        margin-left: 2em;
        margin-top: 1em;
        letter-spacing: 0px;
        font-size: 0.8em;
        color: rgb(63, 14, 238);
        cursor: pointer;
     }
    
     .option .conferrence_payment #confpayyh4 i{
         color: red;
     }
     
     @keyframes confi{
         0%{
             color: red;
         }
         50%{
             color:yellowgreen;
         }
         100%{
             color: green;
         }
     }

     .speaker{
        height: 52em;
        width: 100%;
        background-image: url(confer.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
   
    .speaker #speah3{
       color: white;
       text-align: center;
       margin-top: 2em;
       letter-spacing: 2px;
       text-transform: uppercase;
       font-size: 1.2em;
    }
   
    .speaker #speah3 i{
        color: orangered;
    }
   
    .speaker #speaimg{
        border-radius: 190px;
        height: 7em;
        width: 25%;
        margin-top: 1em;
        transition: 5s;
        cursor: pointer;
    }
   
    .speaker #speaimg:hover{
        transform: scale(1.2);
    }
   
    .speaker #speah4{
        text-align: center;
        font-size: 1.2em;
        color: orangered;
        margin-top: 1em;
        letter-spacing: 2px;
    }
   
    .speaker #speapar{
        color: white;
        width: 80%;
        text-align: justify;
        line-height: 2em;
        font-size: 0.9em;
        margin-top: 2em;
        text-shadow: rgb(54, 54, 54);
    }
   
    /*..contact..*/

    .contact{
        height: 64em;
        width: 100%;
        background: white;
    }
   
    .contact #contactpar{
       text-align: center;
       text-transform: uppercase;
       letter-spacing: 2px;
       margin-top: 0.1em;
       font-size: 1.5em;
   }
   
   .contact #contactpar i{
       color: green;
   }
   
   .contact .contleft{
       background: white;
       width: 100%;
       height: 39%;
       float: none;
   }
   
   .contact #contlefth4{
       margin-top: 2em;
       margin-left: 1em;
       font-size: 1em;
       letter-spacing: 2px;
       text-transform: uppercase;
   }
   
   .contact #contleftpar{
       margin-left: 2em;
       color: rgb(41, 41, 41);
       letter-spacing: 1px;
       margin-top: 1em;
       font-size: 0.9em;
       line-height: 2em;
   }
   
   .contact #contlefth5{
       margin-left: 2em;
       margin-top: 1em;
       letter-spacing: 1px;
       font-size: 1em;
   }
   
   .contact #contlefth5 i{
       color: orangered;
   }
   
   .contact pre{
       line-height: 2em;
       margin-left: -2em;
   }
   
   .contact .contright{
       background: white;
       height: 46%;
       width: 100%;
       float: none;
   }
   
   .contact .contright #contrighth4{
       color:black;
       font-size: 1.4em;
       margin-top: 1em;
       letter-spacing: 2px;
       margin-left: 1em;
   }
   
   .contact .contright form label{
       color: black;
       margin-left: 2em;
       margin-top: 2em;
       letter-spacing: 2px;
       font-weight: 500;
   }
   
   .contact .contright form #uname,#lname,#uemail{
       padding: 5px;
       width: 30%;
       outline: none;
       border: none;
       border: 1px solid rgb(201, 201, 201);
       background: whitesmoke;
       margin-left: 2em;
       border-radius: 5px;
   }
   
   .contact .contright form #uname:hover,
   .contact .contright form #lname:hover,
   .contact .contright form #uemail:hover,
   .contact .contright form #umes:hover{
       box-shadow: 1px 1px 1px 1px rgb(71, 71, 71);
   }
   
   .contact .contright form #umes{
       width: 70%;
       height: 9em;
       resize: none;
       margin-left: 2em;
       padding: 5px;
       outline: none;
       border: none;
       border: 1px solid rgb(201, 201, 201);
       background: whitesmoke;
       margin-left: 3em;
       border-radius: 5px;
   }
   
   .contact .contright form #sbn{
       background: green;
       padding: 7px;
       color: white;
       width: 40%;
       border: none;
       outline: none;
       letter-spacing: 2px;
       font-size: 1.2em;
       cursor: pointer;
       border-radius: 20px;
       float: right;
       margin-right: 3em;
   }
   
   .contact .contright form #sbn:hover{
       opacity: .7;
   }

   .info{
    height: 50em;
    width: 100%;
    background-color: #262626;
}

.info #infopar{
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.3em;
}

.info .infocoord{
    height: 27%;
    margin-left: 1em;
    margin-right: 1em;
    background-color: transparent;
    width: 100%;
    float: none;
}

.info .infocoord #infocopar{
    color:orangered;
    text-align: center;
    margin-top: 1em;
    letter-spacing: 0px;
    font-size: 0.8em;
}

.info .infocoord #infocopar i{
    color: white;
}

.info .infocoord #infocorpar{
    color: white;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 1em;
    font-size: 0.8em;
}

.footer{
    background-color: #262626;
    height: 3em;
    width: 100%;
    border-top: 2px solid black;
}

.footer #footpar{
    color: white;
    text-align: center;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 1em;
}

.footer #footpar span{
    color: orangered;
}


}